/* =================================================
	RESETS 
 ================================================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =================================================
	GENERIC CLASSES 
 ================================================= */
.inline-list {
	display: inline-block;
}



/* =================================================
	HEADER 
 ================================================= */




/* =================================================
	NAV-MENU 
 ================================================= */
.nav-custom {
	width: 100%;
	border-bottom: #CECECE solid 1px;
	height: 60px;
}

.nav-custom > nav {
	height: 55px;
}
.nav-custom .name h1, .top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 59px;
}
.nav-custom.contain-to-grid, .nav-custom > nav, .top-bar-section li:not(.has-form) a:not(.button) {
	background: #FFF;
}
.nav-custom .name h1 a, .top-bar-section li:not(.has-form) a:not(.button) {
	color: #797979;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav-custom .name h1 a:hover, .top-bar-section li:not(.has-form) a:not(.button):hover {
	color: #249CCA;
	background: #F5F5F5;
}


/* =================================================
	CONTENT 
 ================================================= */
.row {
}
.section {
	width: 100%;
}
.section.home {
	background: #D3D3D3;
	background: #505050;
	text-align: center;
	height: 500px;
}
.section.home h1, .section.home p {
	color:#fff;
}
.section.vertical-middle > .section-content {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-0-transform: translateY(-50%);
		transform: translateY(-50%);
		position: relative;
}
.section.details-title {
	background: #34495e;
	padding: 20px 0px;
}
.section.details-title h1, .section.details-title p {
	color: #fff
}
.section.details-progress {
	background: #ecf0f1;
	padding: 10px 0px;
}
.section.details-info {
	padding: 30px 0px;
}
.section.details-photos {
	background: #95a5a6;
	padding: 10px 0px;
}
.section.details-photos h3 {
	color: #fff;
	padding: 10px 0px;
}

 /* =================================================
	FOOTER 
 ================================================= */
.footer a {
	font-size: 0.8em;
	color: #666666;
}
.footer a:hover {
	color: #888585;
}

/* ANIMATION */