<map style="width:100%;height:300px;display:block;" 
	zoom="12" 
	center="{{ detailsData.latlng }}" 
	on-click="setCenter()" 
	tilt="0">

	<marker position="{{ detailsData.latlng }}" 
		title="{{ detailsData.name }}" 
		on-mouseover="showInfoWindow(event, 'marker-info', { mapinfo: detailsData } )">
	</marker>
	
	<info-window id="marker-info">
        <h1>[[mapinfo.name]]</h1>
        <p>[[mapinfo.description]]</p>
    </info-window>
</map>

<div class="section details-title">
	<div class="row">
		<div class="medium-12 column">
			<h1>{{ detailsData.name }}</h1>
			<p>{{ detailsData.description }}</p>
		</div>
	</div>
</div>

<div class="section details-progress">
	<div class="row">
		<div class="medium-12 column">
			<div class="left">
				<h3><small>STATUS: {{ detailsData.status | uppercase }}</small></h3>
			</div>
			<div class="right">
				<h3><small>{{ detailsData.progress }}%</small></h3>
			</div>
			<div style="clear:both"></div>

			<div ng-if="detailsData.status == 'discontinue'">
				<div class="progress large-12 alert round">
				  	<span class="meter" style="width: {{ detailsData.progress }}%"></span>
				</div>
			</div>
			<div ng-if="detailsData.status != 'discontinue'">
				<div class="progress large-12 success round">
				  	<span class="meter" style="width: {{ detailsData.progress }}%"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section details-info">
	<div class="row">
		<div class="medium-9 column">
			<h2><small>Description</small></h2>
			<p>{{ detailsData.long_desc }}</p>
		</div>
		<div class="medium-3 column">
			<h3><small>Initiator</small></h3>
			<h3>{{ detailsData.initiator }}</h3>
			<h3><small>Funds</small></h3>
			<h3>{{ detailsData.funding }}</h3>
		</div>
	</div>
</div>

<div class="section details-photos">
	<div class="row">
		<div class="medium-12 column">
			<h2><small>Photos</small></h2>
			<ul>
				<li ng-repeat="photo in detailsData.photos"><img style="width:200px;" src="{{ photo }}" /></li>
			</ul>
		</div>
	</div>
</div>