<div class="section home vertical-middle">
	<div class="section-content">
		<div class="row">
			<div class="medium 12-column">
				<h1>Welcome to Open Government!</h1>
				<p>You can either get the information that you wanted to know about government or contribute for betterment.</p>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="medium 12-column">
				<button class="big success">Get Information</button>
				<button class="big">Contribute</button>
			</div>
		</div>
	</div>
</div>