<map style="width:100%;height:480px;display:block;" 
	zoom-control="false" 
	zoom="5" 
	center="-0.703107, 117.854462" 
	on-click="setCenter()" 
	tilt="0">
</map>
<br />
<div class="row">
	<div class="medium-12 column">
		<input type="text" ng-model="filter.name" ng-change="filterMap()" placeholder="Find something ..."></input>
		<ul class="button-group filtertype">
		    <li><a ng-click="changeFilter('all')" class="tiny button primary"><i class="fa fa-asterisk"></i> All</a></li>
		    <li><a ng-click="changeFilter('transportation')" class="tiny button secondary"><i class="fa fa-car"></i> Transportation</a></li>
		    <li><a ng-click="changeFilter('building')" class="tiny button secondary"><i class="fa fa-building"></i> Building</a></li>
		    <li><a ng-click="changeFilter('government')" class="tiny button secondary"><i class="fa fa-university"></i> Government</a></li>
		    <li><a ng-click="changeFilter('education')" class="tiny button secondary"><i class="fa fa-graduation-cap"></i> Education</a></li>
		    <li><a ng-click="changeFilter('money')" class="tiny button secondary"><i class="fa fa-money"></i> Money</a></li>
		    <li><a ng-click="changeFilter('medical')" class="tiny button secondary"><i class="fa fa-medkit"></i> Medical</a></li>
		    <li><a ng-click="changeFilter('other')" class="tiny button secondary"><i class="fa fa-delicious"></i> Other</a></li>
		 </ul>
	</div>
</div>

<script>
	$('.filtertype > li > a').click(function(){
		$('.filtertype > li > a').each(function(){
			$(this).addClass('secondary');
			$(this).removeClass('primary');
		});
		$(this).addClass('primary');
		$(this).removeClass('secondary');
	});
</script>